.accordionDetails {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.accordionHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  .headerDisplay {
    width: 75%;
  }
  .progress {
  }

  .addHeader {
    padding-right: 5px;
    animation: slideDown 0.5s ease-in-out forwards;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.deleteButton {
  margin-left: 5%;
}

.listInnerDisplay {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.listMainDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  .listHeaders {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }
}
