.billsHeader {
  padding: 10px;
  //border-bottom: 1px solid #ccc;
  font-size: large;
  font-weight: bold;
  display: flex;

  flex-direction: column;
}
.addIcon {
  width: 100%;
}
.billRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.billsLayout {
  background-color: rgb(243, 243, 243);
}

.billHeader {
  font-weight: bold;
  font-size: 2.2em;

  width: 100%;
}

.grid {
  padding-top: 10px;
}

.plus {
  color: rgb(123, 212, 123);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
}

.allContainer {
  display: flex;

  .textContainer {
  }
  .addContainer {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10px;
    align-items: center;
    vertical-align: middle;
    .addBtn {
      align-items: center;
      vertical-align: middle;
    }
  }
}

.totalFooter {
  margin-top: 2%;
  border-radius: 10px;
  background-color: rgba(218, 221, 218, 0.815);
  .total {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    .totalText {
      font-size: xx-large;
    }
    .totalAmount {
      //max-width: 50%;
      font-size: xx-large;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.transactionsLayout {
  background-color: white;
  border-radius: 5px;
}

.billsHeader1 {
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.lowerDisplay {
  display: flex;
  justify-content: space-between;
}
