
.billsHeader{

    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.billRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.billHeader {
  font-weight: bold;
  font-size: 2.2em;

width: 100%;
}

.plus{
    color: green;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-left:10px;
}

.allContainer{
    display:flex;
    .addContainer{
        padding-left:10px;
        align-items: center;
        vertical-align: middle;
        .addBtn{
            align-items: center;
        vertical-align: middle;
        }
    }
}
