.app {
  background-color: rgb(255, 255, 255);
  ::-webkit-scrollbar {
    display: none;
  }
  .scrollable {
    ::-webkit-scrollbar {
      display: none;
    }
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}
