.app {
  background-image: linear-gradient(to bottom right, rgb(154, 119, 154), rgb(44, 44, 44));

  ::-webkit-scrollbar {
    display: none;
  }
  .scrollable {
    ::-webkit-scrollbar {
      display: none;
    }
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}

body {
  margin: 0;
}
