.billRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.gridColumn {
  display: flex;
  flex-direction: column;

  padding: 10px;
  font-size: 1.2em;
  max-width: 35%;
}

.textContainer {
  max-width: 25%;
  max-height: 5%;
}
