.billRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.spacer {
  padding-top: 10px;
}
.gridColumn {
  display: flex;
  flex-direction: column;

  padding: 10px;
  font-size: 1.2em;
  max-width: 35%;
}

.textContainer {
  max-width: 25%;
  max-height: 5%;
}

.removeIconHolder {
  display: flex;
  justify-content: center;
  float: right;
  width: 90%;
  position: absolute;
}

.showRemoveIcon {
  background-color: rgb(213, 213, 213);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
