.billRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: rgb(155, 128, 225);
}

.spacer {
  padding-top: 10px;
}
.gridColumn {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 800;
  max-width: 35%;
}

.textContainer {
  max-width: 25%;
  max-height: 5%;
}

.removeIconHolder {
  display: flex;
  justify-content: center;
  float: right;
  width: 90%;
  position: absolute;
}

.showRemoveIcon {
  background-color: rgb(237, 179, 240);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
